<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="testcases.Listeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/saurabhbanerjee/IdeaProjects/MT_Testing">
        <classes>
            <class name="testcases.AmzHomePageTest"></class>
           <!-- <class name="testcases.RestApiTest"></class> -->
        </classes>

    </test>
</suite>